*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin-right: 80px;
    margin-left: 50px;

}
.logo{
    height: 40px;
}

header{
    margin: 40px;
}

.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}

a{
    text-decoration: none;
    padding: 0 20px;
    color: #000;
}
.sign-up-btn{
    width: 80px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #c8b89e transparent;
    cursor: pointer;

}


/*Hero */

.hero-section{
    display: flex;
    margin-top:50px;
    padding-left: 50px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 40px;
}
.hero-img{
    width: 40%;
}

h4{
    color: #DF6951;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}
.hero-desc{
    font-family: 'Poppins', sans-serif;
    margin-top: 27px;
}

img{
    height: 400px;
    width: 380px;
    z-index: 1;
}


.plane{
    position: relative;
    top: -400px;
    right: -80px;
    width: 100px;
    height: 80px;
}
.plane-second{
    position: absolute;
    width: 100px;
    height: 80px; 
}

.hero-buttons{
    margin-top: 2rem;
    
    gap: 39px;
}

.hero-find-btn{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 9.024px;
    background: #F1A501;
    box-shadow: 0px 18.048px 31.584px 0px rgba(241, 165, 1, 0.15);
    margin-right: 39px;
    cursor: pointer;
    font-size: medium;
}
.hero-find-btn:hover{
    background: #bc8204;
    transition: 0.6s;
    color: #000;
}
.hero-play-btn{
 border: none;
 width: 46.924px;
height: 46.924px;
background-color: #DF6951;
border-radius: 50%;
margin-right: 15px;
cursor: pointer;
font-size: medium;
}
.hero-play-btn:hover{
    background-color: #b34631;
    transition: 0.6s;
}
.play{
    cursor: pointer;    
}
